body{

    
    .battleBox{
        position: absolute;
        width: 100vw;
        height: 100vh;
        background-image: url("img/battle1.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 10%;
        top: 0;
        transform: translateX(-1600px);

        .enemeyField{
            position: relative;
            // background-color: red;
            border: 1px solid black;
            width: 100vw;
            height: 400px;
            margin-top: 70px;
            display: flex;
            justify-content: space-around;
            .fieldEach{

            }
        }
    }
}
